:root {
    --font-primary: 'Lato', sans-serif;
    --color-primary: #303952;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary);
    font-family: 'Poppins', sans-serif;
}

.card-container {
    max-width: 1200px;
    margin: 0 auto;
}

.card-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card {
    position: relative;
    width: 300px;
    height: 400px;
    background: #262626;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.6);
}

input,
.toogle {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    outline: none;
    z-index: 10;
    cursor: pointer;
}

input {
    opacity: 0;
}

.toogle {
    pointer-events: none;
    border-radius: 50%;
    background: #fff;
    transition: 0.5s;
    text-align: center;
    line-height: 50px;
    font-size: 36px;
}
input:checked ~ .toogle {
    transform: rotate(225deg);
}
/* Color de cada carta */
.toogle1 {
    box-shadow: 0 0 0 0px #546de5;
}
input:checked ~ .toogle1 {
    box-shadow: 0 0 0 500px #546de5;
}
.toogle2 {
    box-shadow: 0 0 0 0px #786fa6;
}
input:checked ~ .toogle2 {
    box-shadow: 0 0 0 500px #786fa6;
}
.toogle3 {
    box-shadow: 0 0 0 0px #e66767;
}
input:checked ~ .toogle3 {
    box-shadow: 0 0 0 500px #e66767;
}
/* Fin de color de carta */
.imgbox,
.details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.imgbox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.details {
    padding: 20px;
    box-sizing: border-box;
    z-index: 11;
    pointer-events: none;
    transition: 0.5s;
    opacity: 0;
}
input:checked ~ .details {
    opacity: 1;
    transition-delay: 0.5s;
}
.details h2 {
    margin-bottom: 10px;
    color: #fff;
}
.details p {
    color: #fff;
    padding: 5px;
}
