:root {
    --font-primary: 'Montserrat', sans-serif;
    --color-primary: #f9f9f9;
    --gradient: linear-gradient(to bottom, #4c566a, #2e3440);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

::selection {
    background: #3d5a80;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: inherit;
}

body {
    font-family: var(--font-primary);
    font-size: 1.6rem;
    background-image: var(--gradient);
    width: 100%;
    height: 100vh;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Efecto 3d */
    perspective: 2000px;
}

.tarjeta {
    max-width: 20em;
    border-radius: 10px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;

    position: relative;
    transition: 0.5s;
    transform-style: preserve-3d;
    width: 500px;
    height: 500px;
    cursor: pointer;
}

.tarjeta.flip {
    transform: rotateY(180deg);
}

.tarjeta__imagen {
    background: linear-gradient(38deg, #000428, #004e92);
    border-radius: 10px;
    overflow: hidden;

    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.tarjeta__imagen img {
    object-fit: cover;
    opacity: 0.4;
}

.tarjeta__contenido {
    border-radius: 10px;
    padding: 1em 1em 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.tarjeta__cabecera {
    border-bottom: 1px solid rgba(0, 78, 146, 0.2);
    margin-bottom: 1em;
    line-height: 2;
}

.tarjeta__info {
    font-size: 0.8em;
    line-height: 1.5;
    flex-grow: 1;
}
