:root {
    --font-primary: 'Lato', sans-serif;
    --color-primary: #293241;
    --color-secondary: #e0fbfc;
    --color-tertiary: #98c1d9;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

::selection {
    background: #3d5a80;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: inherit;
}

body {
    font-family: var(--font-primary);
    font-size: 1.6rem;
    background: var(--color-primary);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    width: 500px;
    background: #000;
    padding: 2rem;
    cursor: pointer;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
}

.box h2 {
    color: crimson;
    font-weight: 600;
}

.box .barra {
    background: #fff;
    height: 5px;
    border-radius: 3px;
    width: 100%;
    display: block;
    margin-bottom: 1.25rem;
    position: relative;
    overflow: hidden;
}

.box .barra::before,
.box .barra::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.box .barra::before {
    background-color: crimson;
    width: 25%;
    transition: 0.8s ease-in-out all 0s;
}

.box .barra::after {
    background-color: #f37298;
    width: 0;
    transition: 0.8s ease-in-out all 0s;
    transition-delay: 0.4s;
}

.box:hover .barra::before,
.box:hover .barra::after {
    width: 100%;
}

.box .text {
    line-height: 1.6;
    text-align: justify;
    font-weight: 400;
    padding: 1rem 0;
}

.social {
    color: crimson;
    margin-top: 2rem;
    text-align: center;
    font-size: 1.4em;
}

.social span {
    padding: 0 12px;
    transition: 0.2s all ease 0s;
}

.social span:hover {
    color: #f37298;
}
